*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(113, 76, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 600px;
    background: rgba(34, 24, 88,0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 35px 25px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: reverse;
    gap: 10px;
}
.temp-icon{
    color: aliceblue;
    font-size: 25px;
}
h1{
    color: aliceblue;
    letter-spacing: 1.2px;
}
#celsius,#fahrenheit,#kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #748798;
    color: #fff;
    border-radius: 0 8px 8px 0;
}
  
  
.button{
    margin-top: 25px;
    text-align: center;
}
   
.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5pc;
    cursor: pointer;
    transition: 0.3s;
}
  
.button button:hover{
    background: #000;
    color: #fff;
}


 