*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    width: 100%; 
    height:100vh;
    background-image:url('images/newbg.jpg');
    background-size: cover;
    background-repeat:repeat;
    font-family:'Libre Baskerville', serif;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
}
nav{
    width:100%;
    height: 100px; 
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.menu a{
    text-decoration:none;
    color:rgb(38, 30, 30, 1.0);
    padding: 10px 20px;
    font-size: 20px;
    text-transform:uppercase;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.menu a:hover{
    background-color:rgb(29, 34, 34);
    color:rgb(138, 138, 138)
}

/*MAIN HEADER CONTENT STYLING*/
.header_main{
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    margin-left: 100px;
  }
  .header_main_con_h1{
    font-size: 50px;
    font-family: 'PT Serif', serif;
    color: #040303;
  }
  .header_main_con_h3{
    font-size: 13px;
    margin-top: 10px;
    width: 80%;
    font-weight:bold;
    color: #090909d1;
  }
  .cta {
    border: none;
    background: none;
    margin-top: 30px;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 19px;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight:bolder;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: rgb(19, 34, 69);
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1.2);
    transform-origin: bottom left;
  }
  #shop{
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  }
  #shop{
    margin-top: 40px;
    display: block;
    padding: 15px 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight:bolder;
    text-transform: normal;
    letter-spacing: 0.18px;
    line-height: 17px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
    border: none;
    cursor: pointer;
    color: rgba(5, 22, 68, 0.885);
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
#shop:hover{
    opacity: 0.9;
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 8px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
  background-color:rgba(59, 109, 154, 0.775);
  color: rgba(0, 0, 0,0.8);
  
  }
  
  .fa-twitter {
  background-color: rgba(59, 109, 154, 0.775);
  color: rgba(0, 0, 0,0.8);
  }
  .fa-instagram {
    background-color: rgba(59, 109, 154, 0.775);
    color: rgba(0, 0, 0,0.8);
  }
  .alta {
    width: 100%;
    max-width: 490px;
    height: auto;
    overflow: hidden;
  
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .alta-title {
    font-size: 26px;
    font-family: "Dm Sans", Sans-Serif;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin:0;
    padding: 0;
    color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 1;
  
    position: absolute;
    right: 0;
    -webkit-transform: rotate(90deg) translateY(-60px);
    -ms-transform: rotate(90deg) translateY(-60px);
    transform: rotate(90deg) translateY(-60px);
  }
  
  .alta img {
    width: 520px;
    height: auto;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  
  @media screen and (max-width: 1124px) {
    .alta {
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .alta {
      max-width: 100%;
    }
  
    .alta-title {
      font-size: 16px;
      position: absolute;
      right: 0;
      -webkit-transform: rotate(90deg) translateY(-66px);
      -ms-transform: rotate(90deg) translateY(-66px);
      transform: rotate(90deg) translateY(-66px);
    }
  
    .alta img {
      width: 410px;
      -webkit-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      transform: translateX(-15px);
    }
  }
  
  @media screen and (max-width: 320px) {
    .alta-title {
      font-size: 20px;
      position: absolute;
      right: 0;
      -webkit-transform: rotate(90deg) translateY(-48px);
      -ms-transform: rotate(90deg) translateY(-48px);
      transform: rotate(90deg) translateY(-48px);
    }
  
    .alta img {
      width: 320px;
    }
  }
  